.glow-underline {
    position: relative;
    display: inline-block;
  }
  
  .glow-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: orange;
    box-shadow: 0 0 10px rgb(0, 26, 255), 0 0 20px orange, 0 0 30px orange;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .glow-underline-active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  