@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
    width: 300px; /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */
    position: relative;
    overflow: hidden;
  }